<div class="slider">
    {% for block in section.blocks %}
        <div class = "image-container">
            <img src="{{ block.settings.images | img_url:'1000x'}}"/>
        </div>
    {% endfor %}
</div>
       
<script src="{{'image-carousel.js' | asset_url}}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{% schema %}
    {
        "name":"image carousel",
        "settings":[],
        "blocks":[
            {
                "type":"image_picker",
                "name":"add image",
                "settings":[
                    {
                        "type":"image_picker",
                        "id":"images",
                        "label":"image carousel"
                    }
                ]
            }
        ],
        "presets":[
            {
                "name":"image carousel"
            }
        ]
    }
{% endschema %}
